<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />

    <title>萊鯷漁產 產品列表</title>
    <style>
      img {
        object-fit: contain;
        max-width: 100%;
      }

      .primary-image {
        height: 300px;
      }

      .images {
        height: 150px;
      }
      .display_none {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="row py-3">
          <div class="col-md-12">
            <div class="text-end mt-4">
              <div class="btn-group" role="group">
                <button class="btn btn-outline-primary" @click="openNewModal()">
                  建立新的產品
                </button>
                <button class="btn btn-outline-secondary" type="button" @click="logOut()">
                  登出
                </button>
              </div>
              
            </div>
            <h2>萊鯷漁產 產品列表</h2>
            <table class="table table-hover mt-4">
              <thead>
                <tr>
                  <th class="w-50">產品名稱</th>
                  <th>原價</th>
                  <th>售價</th>
                  <th>尺寸</th>
                  <th>產品狀況</th>
                  <th>編輯產品</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in Products" :key="item.id">
                  <td class="w-50">{{ item.title }}</td>
                  <td>{{ item.origin_price }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.size }}</td>
                  <td>
                    <span class="text-success" v-if="item.is_enabled">可購買</span>
                    <span v-else>無庫存</span>
                  </td>
                  <td>
                    <!-- <button type="button" class="btn btn-primary" v-on:click="Temp = item">查看</button> -->
                    <button type="button" class="btn btn-sm btn-warning mx-1" @click="openeditModal(item);">編輯</button>
                    <button type="button" class="btn btn-sm btn-outline-danger mx-1" @click="deleteModal(item);">刪除</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination 
              :pages="pagination"
              @get-product="getProducts"
            >
            </pagination>
            <p>目前有 <span>{{ Products.length }}</span> 項產品</p>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newLabel" aria-hidden="true">
            <product-modal :temp="Temp"></product-modal>
          </div>
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header bg-dark">
                  <h5 class="modal-title text-light">編輯產品</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <h5>圖片</h5>
                          <input type="text" class="form-control my-2" id="product_title" v-model="Temp.imageUrl" />
                          <img :src="Temp.imageUrl" class="img-fluid" alt="Temp.title" id="product_img" />
                        </div>
                        <div class="col-md-8">
                          <div :class="{display_none:data_fail_show}">
                            <div class="container">
                              <div class="row d-flex justify-content-center">
                                <div class="alert alert-danger w-50 fade show" style="z-index: 9999;" role="alert">
                                  商品更新失敗 - {{error_message}}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="product_title" class="form-label"><h5>產品名稱<strong class="text-danger">*</strong></h5></label>
                            <input type="text" class="form-control" id="product_title" v-model="Temp.title" />
                            <!-- {{Temp}} -->
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="product_category" class="form-label">分類<strong class="text-danger">*</strong></label>
                                <input type="text" class="form-control" id="product_category" v-model="Temp.category" />
                              </div>
                              <div class="mb-3">
                                <label for="product_org_price" class="form-label">原價<strong class="text-danger">*</strong></label>
                                <input type="number" class="form-control" id="product_org_price" v-model.number="Temp.origin_price" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="product_unit" class="form-label">單位<strong class="text-danger">*</strong></label>
                                <input type="text" class="form-control" id="product_unit" v-model="Temp.unit" />
                              </div>
                              <div class="mb-3">
                                <label for="product_price" class="form-label">售價<strong class="text-danger">*</strong></label>
                                <input type="number" class="form-control" id="product_price" v-model.number="Temp.price" />
                              </div>
                              <div class="mb-3">
                                <label for="product_size" class="form-label">尺寸</label>
                                <input type="text" class="form-control" id="product_size" v-model="Temp.size" />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="product_desc" class="form-label">產品描述</label>
                                <textarea class="form-control" id="product_desc" rows="5" v-model="Temp.description"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="product_content" class="form-label">說明內容</label>
                                <textarea class="form-control" id="product_content" rows="5" v-model="Temp.content"></textarea>
                              </div>
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="product_enable" v-model="Temp.is_enabled" :true-value="1" :false-value="0" />
                                <span class="text-success" v-if="Temp.is_enabled">可購買</span>
                                <span v-else>無庫存</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" @click="editProducts()">儲存</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-danger">
                  <h5 class="modal-title text-light">刪除產品</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>您確定要刪除 <strong class="text-danger">{{Temp.title}}</strong> 嗎？</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">否</button>
                  <button type="button" class="btn btn-danger" @click="removeProducts();">是</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Alert Success -->
          <div class="position-fixed">
            <!-- Alert Success -->
            <div :class="{display_none:data_success_show}">
              <div class="container">
                <div class="row">
                  <div class="alert alert-success w-50 fade show" role="alert">
                    商品 <strong>{{Temp.title}}</strong> 更新成功！
                  </div>
                </div>
              </div>
              
            </div>
            <!-- Alert Remove Success -->
            <div :class="{display_none:data_success_remove_show}">
              <div class="container">
                <div class="row">
                  <div class="alert alert-success w-50 fade show" role="alert">
                    商品 <strong>{{Temp.title}}</strong> 刪除成功！
                  </div>
                </div>
              </div>
              
            </div>
            <!-- Alert Fail -->
            <div :class="{display_none:data_fail_show}">
              <div class="container">
                <div class="row">
                  <div class="alert alert-danger w-50 fade show" style="z-index: 9999;" role="alert">
                    商品更新失敗 - {{error_message}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>

    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script type="text/x-template" id="template4newModal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-light">新增產品</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h5>產品圖片</h5>
                    <input type="text" class="form-control my-2" id="product_title" v-model="Temp.imageUrl" />
                    <img :src="Temp.imageUrl" class="img-fluid" alt="Temp.title" id="product_img" />
                  </div>
                  <div class="col-md-8">
                    <div :class="{display_none:data_fail_show}">
                      <div class="container">
                        <div class="row d-flex justify-content-center">
                          <div class="alert alert-danger w-100 fade show" role="alert">
                            商品更新失敗 - {{error_message}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="product_title" class="form-label"><h5>產品名稱<strong class="text-danger">*</strong></h5></label>
                      <input type="text" class="form-control" id="product_title" v-model="Temp.title" />
                      <!-- {{Temp}} -->
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="product_category" class="form-label">分類<strong class="text-danger">*</strong></label>
                          <input type="text" class="form-control" id="product_category" v-model="Temp.category" />
                        </div>
                        <div class="mb-3">
                          <label for="product_org_price" class="form-label">原價<strong class="text-danger">*</strong></label>
                          <input type="number" class="form-control" id="product_org_price" v-model.number="Temp.origin_price" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="product_unit" class="form-label">單位<strong class="text-danger">*</strong></label>
                          <input type="text" class="form-control" id="product_unit" v-model="Temp.unit" />
                        </div>
                        <div class="mb-3">
                          <label for="product_price" class="form-label">售價<strong class="text-danger">*</strong></label>
                          <input type="number" class="form-control" id="product_price" v-model.number="Temp.price" />
                        </div>
                        <div class="mb-3">
                          <label for="product_size" class="form-label">尺寸</label>
                          <input type="text" class="form-control" id="product_size" v-model="Temp.size" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="product_desc" class="form-label">產品描述</label>
                          <textarea class="form-control" id="product_desc" rows="5" v-model="Temp.description"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="product_content" class="form-label">說明內容</label>
                          <textarea class="form-control" id="product_content" rows="5" v-model="Temp.content"></textarea>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="product_enable" v-model="Temp.is_enabled" :true-value="1" :false-value="0" />
                          <span class="text-success" v-if="Temp.is_enabled">可購買</span>
                          <span v-else>無庫存</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="addNewProducts">儲存</button>
          </div>
        </div>
      </div>
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
      integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="productPage.js"></script>
  </body>
</html>
